@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 250 100% 99%;
    --foreground: 240 10% 10%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 10%;

    --primary: 249 100% 59%;
    --primary-foreground: 0 0% 100%;

    --secondary: 250 50% 96%;
    --secondary-foreground: 240 10% 30%;

    --muted: 250 20% 97%;
    --muted-foreground: 240 5% 64%;

    --accent: 249 100% 96%;
    --accent-foreground: 249 100% 59%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 249 100% 59%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 250 100% 99%;

    --card: 240 15% 6%;
    --card-foreground: 250 100% 99%;

    --popover: 240 15% 6%;
    --popover-foreground: 250 100% 99%;

    --primary: 249 100% 59%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 10% 12%;
    --secondary-foreground: 250 100% 99%;

    --muted: 240 10% 8%;
    --muted-foreground: 240 5% 64%;

    --accent: 240 15% 15%;
    --accent-foreground: 249 100% 59%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 10% 15%;
    --input: 240 10% 15%;
    --ring: 249 100% 59%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
